@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-error {
        @apply text-red-500 text-sm font-medium leading-none mt-2;
    }
}

.custom-height {
    height: calc(100vh - 74px) !important;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
@apply: bg-green-400;
    background-color: #68D391;
}